
{% extends './base.html' %}

{% block content %}
    <main>
        <br/>
        <!-- HOME SERVICE SECTION -->
        <section class="home_services">
            <h3>Our Services</h3><hr/>
            <aside class="row services_inner container">
                <div class="card service_item col" style="width: 18rem;">
                    <div class="card-img-top"></div>
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <center>
                            <button class="btn btn-outline-success">View Details</button>
                        </center>
                    </div>
                </div>

                <div class="card service_item col" style="width: 18rem;">
                    <div class="card-img-top"></div>
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <center>
                            <button class="btn btn-outline-success">View Details</button>
                        </center>
                    </div>
                </div>

                <div class="card service_item col" style="width: 18rem;">
                    <div class="card-img-top"></div>
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <center>
                            <button class="btn btn-outline-success">View Details</button>
                        </center>
                    </div>
                </div>

            </aside>

        </section><br/><br/>

        <!-- SHORT ABOUT SECTION -->
        <section class="brief_about">
            <center>
                We provide good and high quality<br />
                Photographs, Videos and HD Graphics<br/>...
            </center>
        </section><br/><br/>

        <!-- HOME OUR_WORKS SECTION -->
        <section class="our_works">
            <h3>Our Works</h3><hr />
            
            <div class="works_inner row container">
                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

            </div><br/> 
            <center>
                <button class="btn btn-outline-success">View Details</button>
            </center>
            <br/>
        </section><br/>

        <!-- HOME CONTACT_US SECTION -->
        <section class="contact_us ">
            <h3>Contact Us</h3><hr />

            <aside class="contact_inner row">
            <div class="contact_form col-sm-7 col-lg-6 col-md-6">
                {% comment %} <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                    <br/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form><br/> {% endcomment %}
                {% include './contact.html' %}
                <h3>Follow us</h3>
                <aside class="media_icons">
                    <a href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </aside>
            </div>
            <div class="contact_side_img col-sm-7 col-lg-6 col-md-6"></div>
            </aside>
        </section><br/><br/>
    </main>
{% endblock  %}