
{% extends './base.html' %}

{% block content %}
    <main>
        <br/>
        <!-- HOME SERVICE SECTION -->
        <section class="home_services">
            <h3>Our Services</h3><hr/>
            
            <aside class="row services_inner container">
                {% for service in services %}
                    <div class="card service_item col-4" style="width: 18rem;">
                        <div class="card-img-top" style="background: url({{service.image.url}})"></div>
                        <div class="card-body">
                            <p class="card-text">
                                {{service.details|truncatechars:'100'}}
                            </p>
                            <center>
                                <button class="btn btn-outline-success">View Details</button>
                            </center>
                        </div>
                    </div>
                {% endfor %}
            </aside>

        </section><br/><br/>

        <!-- SHORT ABOUT SECTION -->
        <section class="brief_about">
            <center>
                We provide good and high quality<br />
                Photographs, Videos and HD Graphics<br/>...
            </center>
        </section><br/><br/>

        <!-- HOME OUR_WORKS SECTION -->
        <section class="our_works">
            <h3>Our Works</h3><hr />
            
            <div class="works_inner row container">
                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

                <div class="card works_item col-lg-4 col-md-4 col-sm-5" style="width: 18rem;">
                    <div class="card-img-top"></div>
                </div>

            </div><br/> 
            <center>
                <button class="btn btn-outline-success">View Details</button>
            </center>
            <br/>
        </section><br/>

        <!-- HOME CONTACT_US SECTION -->
        <section class="contact_us ">
            <h3>Contact Us</h3><hr />

            <aside class="contact_inner row">
            <div class="contact_form col-sm-7 col-lg-6 col-md-6">
                {% if message_name %}
                    <h5 class="text-success">Thank you, {{message_name}}</h5>
                    <small class="text-primary">You will hear from us very soon</small>
                {% endif %}
                {% include './contact.html' %}
                <h3>Follow us</h3>
                <aside class="media_icons">
                    <a href="">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </aside>
            </div>
            <div class="contact_side_img col-sm-7 col-lg-6 col-md-6"></div>
            </aside>
        </section><br/><br/>

        <script>
            const submit =(e)=>{
                e.preventDefault();
                alert('hey')
            }
        </script>
    </main>
{% endblock  %}